@page "/sidebar"

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav class="text-white sidebar">
            <div class="d-flex flex-column">
                <img src="https://picsum.photos/200/300" alt="Profile Picture" class="rounded-circle">
                <a href="about" class="nav-link text-white">ABOUT</a>
                <a href="experience" class="nav-link text-white">EXPERIENCE</a>
                <a href="education" class="nav-link text-white">EDUCATION</a>
                <a href="skills" class="nav-link text-white">SKILLS</a>
                <a href="interests" class="nav-link text-white">INTERESTS</a>
                <a href="awards" class="nav-link text-white">AWARDS</a>
            </div>
        </nav>
    </div>
</div>
