@page "/demo-setparam"

<div class="container" style="margin: 50px auto;">
    <div class="row">
        @foreach(ProductCardVM item in lstProduct){
            <div class="col-md-3 mt-2">
            <div class="card">
                <img src="@item.image" alt="..." />
            </div>
            <div class="card-body">
                <h3>@item.name</h3>
                <p>@item.price</p>
                <button @onclick="() => ViewDetail(item)" class="btn btn-outline-success">View Detail</button>
            </div>
        </div>
        }
    </div>

    <DetailProduct prodDetail = "@prodDetail"/>
</div>

@code{
    public List<ProductCardVM> lstProduct = DbCarProducts.lstProduct;
    
    public ProductCardVM prodDetail = DbCarProducts.lstProduct[1];

    public void ViewDetail(ProductCardVM prodClick){
        prodDetail = prodClick;
    }
}