@page "/skills"

<div class="skills">
    <h2>SKILLS</h2>

    <div class="skills-category">
        <h3>PROGRAMMING LANGUAGES & TOOLS</h3>
        <div class="skills-icons">
            <i class="fab fa-html5" title="HTML5"></i>
            <i class="fab fa-css3-alt" title="CSS3"></i>
            <i class="fab fa-js-square" title="JavaScript"></i>
            <i class="fab fa-angular" title="Angular"></i>
            <i class="fab fa-react" title="React"></i>
            <i class="fab fa-node-js" title="Node.js"></i>
            <i class="fab fa-sass" title="Sass"></i>
            <i class="fab fa-less" title="Less"></i>
            <i class="fab fa-wordpress" title="WordPress"></i>
            <i class="fab fa-gulp" title="Gulp"></i>
            <i class="fab fa-npm" title="npm"></i>
        </div>
    </div>

    <div class="skills-category">
        <h3>WORKFLOW</h3>
        <ul class="skills-workflow">
            <li>Mobile-First, Responsive Design</li>
            <li>Cross Browser Testing & Debugging</li>
            <li>Cross Functional Teams</li>
            <li>Agile Development & Scrum</li>
        </ul>
    </div>
</div>

