@page "/education"

<div class="education">
    <h2>EDUCATION</h2>

    <div class="education-item">
        <h3>UNIVERSITY OF COLORADO BOULDER</h3>
        <h4>Bachelor of Science</h4>
        <p>Computer Science - Web Development Track</p>
        <p>GPA: 3.23</p>
        <p class="education-date">August 2006 - May 2010</p>
    </div>

    <div class="education-item">
        <h3>JAMES BUCHANAN HIGH SCHOOL</h3>
        <h4>Technology Magnet Program</h4>
        <p>GPA: 3.56</p>
        <p class="education-date">August 2002 - May 2006</p>
    </div>
</div>
